{# filepath: /Users/user/Desktop/igi/353505_Chuiko_26/IGI/LR5/Agency/estateAgency/templates/career/vacancies.html #}
{% extends "base.html" %}
{% block content %}
  <h1>Вакансии</h1>
  {% if vacancies %}
    <ul>
      {% for vacancy in vacancies %}
        <li>
          <strong>{{ vacancy.title }}</strong><br>
          <span>{{ vacancy.description }}</span><br>
          <em>Опубликовано: {{ vacancy.created_at|date:"d.m.Y" }}</em>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Вакансий нет.</p>
  {% endif %}
{% endblock %}